<!DOCTYPE HTML>
<html>
<head>
<title>Hexa a portfolio bootstrap Website Template | Home :: w3layouts</title>
<!-- Bootstrap -->
<link href="{{ asset('site/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ asset('site/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.web/js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
<link href="{{ asset('site/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="{{ asset('site/js/jquery.min.js') }}"></script>
    <script>
        $(function() {
            var pull        = $('#pull');
                menu        = $('nav ul');
                menuHeight  = menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
<!----font-Awesome----->
    <link rel="stylesheet" href="{{ asset('site/fonts/css/font-awesome.min.css') }}">
<!----font-Awesome----->
</head>
<body>
<div class="header_bg" id="home"><!-- start header -->
<div class="container">
    <div class="row header text-center specials">
        <div class="h_logo">
            <a href="index.html"><img src="{{ asset('site/images/logo.png') }}" alt="" class="responsive"/></a>
        </div>
        <nav class="top-nav">
            <ul class="top-nav nav_list">
                <li><a href="#">Inicio</a></li>
                <li class="page-scroll"><a href="#about">Acerca de</a></li>
                <!--<li class="logo page-scroll"><a title="hexa" href="index.html"><img src="{{ asset('site/images/logo.png') }}" alt="" class="responsive"/></a></li>-->
                <li class="page-scroll"><a href="#">Blog</a></li>
                <li><a href="#">Tutoriales</a></li>
                <li class="page-scroll"><a href="#contact">Contacto</a></li>
            </ul>
            <a href="#" id="pull"><img src="{{ asset('site/images/nav-icon.png') }}" title="menu" /></a>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>
</div>
{% block content %}{% endblock %}
</body>
</html>